.flag { display: inline-block; background-image: url(flags.png); background-repeat: no-repeat; width: 16px; height: 11px; }
.flag.ad { background-position: 0px 0px; }
.flag.ae { background-position: -16px 0px; }
.flag.af { background-position: -32px 0px; }
.flag.ag { background-position: -48px 0px; }
.flag.ai { background-position: -64px 0px; }
.flag.al { background-position: -80px 0px; }
.flag.am { background-position: -96px 0px; }
.flag.ao { background-position: -112px 0px; }
.flag.ar { background-position: -128px 0px; }
.flag.as { background-position: -144px 0px; }
.flag.at { background-position: -160px 0px; }
.flag.au { background-position: -176px 0px; }
.flag.aw { background-position: -192px 0px; }
.flag.ax { background-position: 0px -11px; }
.flag.az { background-position: -16px -11px; }
.flag.ba { background-position: -32px -11px; }
.flag.bb { background-position: -48px -11px; }
.flag.bd { background-position: -64px -11px; }
.flag.be { background-position: -80px -11px; }
.flag.bf { background-position: -96px -11px; }
.flag.bg { background-position: -112px -11px; }
.flag.bh { background-position: -128px -11px; }
.flag.bi { background-position: -144px -11px; }
.flag.bj { background-position: -160px -11px; }
.flag.bm { background-position: -176px -11px; }
.flag.bn { background-position: -192px -11px; }
.flag.bo { background-position: 0px -22px; }
.flag.br { background-position: -16px -22px; }
.flag.bs { background-position: -32px -22px; }
.flag.bt { background-position: -48px -22px; }
.flag.bv { background-position: -64px -22px; }
.flag.bw { background-position: -80px -22px; }
.flag.by { background-position: -96px -22px; }
.flag.bz { background-position: -112px -22px; }
.flag.ca { background-position: -128px -22px; }
.flag.cc { background-position: -144px -22px; }
.flag.cd { background-position: -160px -22px; }
.flag.cf { background-position: -176px -22px; }
.flag.cg { background-position: -192px -22px; }
.flag.ch { background-position: 0px -33px; width: 11px; }
.flag.ci { background-position: -11px -33px; }
.flag.ck { background-position: -27px -33px; }
.flag.cl { background-position: -43px -33px; }
.flag.cm { background-position: -59px -33px; }
.flag.cn { background-position: -75px -33px; }
.flag.co { background-position: -91px -33px; }
.flag.cr { background-position: -107px -33px; }
.flag.cu { background-position: -123px -33px; }
.flag.cv { background-position: -139px -33px; }
.flag.cx { background-position: -155px -33px; }
.flag.cy { background-position: -171px -33px; }
.flag.cz { background-position: -187px -33px; }
.flag.de { background-position: 0px -44px; }
.flag.dj { background-position: -16px -44px; }
.flag.dk { background-position: -32px -44px; }
.flag.dm { background-position: -48px -44px; }
.flag.do { background-position: -64px -44px; }
.flag.dz { background-position: -80px -44px; }
.flag.ec { background-position: -96px -44px; }
.flag.ee { background-position: -112px -44px; }
.flag.eg { background-position: -128px -44px; }
.flag.eh { background-position: -144px -44px; }
.flag.er { background-position: -160px -44px; }
.flag.es { background-position: -176px -44px; }
.flag.et { background-position: -192px -44px; }
.flag.fi { background-position: 0px -55px; }
.flag.fj { background-position: -16px -55px; }
.flag.fk { background-position: -32px -55px; }
.flag.fm { background-position: -48px -55px; }
.flag.fo { background-position: -64px -55px; }
.flag.fr { background-position: -80px -55px; }
.flag.ga { background-position: -96px -55px; }
.flag.gb { background-position: -112px -55px; }
.flag.gd { background-position: -128px -55px; }
.flag.ge { background-position: -144px -55px; }
.flag.gf { background-position: -160px -55px; }
.flag.gh { background-position: -176px -55px; }
.flag.gi { background-position: -192px -55px; }
.flag.gl { background-position: 0px -66px; }
.flag.gm { background-position: -16px -66px; }
.flag.gn { background-position: -32px -66px; }
.flag.gp { background-position: -48px -66px; }
.flag.gq { background-position: -64px -66px; }
.flag.gr { background-position: -80px -66px; }
.flag.gs { background-position: -96px -66px; }
.flag.gt { background-position: -112px -66px; }
.flag.gu { background-position: -128px -66px; }
.flag.gw { background-position: -144px -66px; }
.flag.gy { background-position: -160px -66px; }
.flag.hk { background-position: -176px -66px; }
.flag.hm { background-position: -192px -66px; }
.flag.hn { background-position: 0px -77px; }
.flag.hr { background-position: -16px -77px; }
.flag.ht { background-position: -32px -77px; }
.flag.hu { background-position: -48px -77px; }
.flag.id { background-position: -64px -77px; }
.flag.ie { background-position: -80px -77px; }
.flag.il { background-position: -96px -77px; }
.flag.in { background-position: -112px -77px; }
.flag.io { background-position: -128px -77px; }
.flag.iq { background-position: -144px -77px; }
.flag.ir { background-position: -160px -77px; }
.flag.is { background-position: -176px -77px; }
.flag.it { background-position: -192px -77px; }
.flag.jm { background-position: 0px -88px; }
.flag.jo { background-position: -16px -88px; }
.flag.jp { background-position: -32px -88px; }
.flag.ke { background-position: -48px -88px; }
.flag.kg { background-position: -64px -88px; }
.flag.kh { background-position: -80px -88px; }
.flag.ki { background-position: -96px -88px; }
.flag.km { background-position: -112px -88px; }
.flag.kn { background-position: -128px -88px; }
.flag.kp { background-position: -144px -88px; }
.flag.kr { background-position: -160px -88px; }
.flag.kw { background-position: -176px -88px; }
.flag.ky { background-position: -192px -88px; }
.flag.kz { background-position: 0px -99px; }
.flag.la { background-position: -16px -99px; }
.flag.lb { background-position: -32px -99px; }
.flag.lc { background-position: -48px -99px; }
.flag.li { background-position: -64px -99px; }
.flag.lk { background-position: -80px -99px; }
.flag.lr { background-position: -96px -99px; }
.flag.ls { background-position: -112px -99px; }
.flag.lt { background-position: -128px -99px; }
.flag.lu { background-position: -144px -99px; }
.flag.lv { background-position: -160px -99px; }
.flag.ly { background-position: -176px -99px; }
.flag.ma { background-position: -192px -99px; }
.flag.mc { background-position: 0px -110px; }
.flag.md { background-position: -16px -110px; }
.flag.me { background-position: -32px -110px; height: 12px; }
.flag.mg { background-position: -48px -110px; }
.flag.mh { background-position: -64px -110px; }
.flag.mk { background-position: -80px -110px; }
.flag.ml { background-position: -96px -110px; }
.flag.mm { background-position: -112px -110px; }
.flag.mn { background-position: -128px -110px; }
.flag.mo { background-position: -144px -110px; }
.flag.mp { background-position: -160px -110px; }
.flag.mq { background-position: -176px -110px; }
.flag.mr { background-position: -192px -110px; }
.flag.ms { background-position: 0px -122px; }
.flag.mt { background-position: -16px -122px; }
.flag.mu { background-position: -32px -122px; }
.flag.mv { background-position: -48px -122px; }
.flag.mw { background-position: -64px -122px; }
.flag.mx { background-position: -80px -122px; }
.flag.my { background-position: -96px -122px; }
.flag.mz { background-position: -112px -122px; }
.flag.na { background-position: -128px -122px; }
.flag.nc { background-position: -144px -122px; }
.flag.ne { background-position: -160px -122px; }
.flag.nf { background-position: -176px -122px; }
.flag.ng { background-position: -192px -122px; }
.flag.ni { background-position: 0px -133px; }
.flag.nl { background-position: -16px -133px; }
.flag.no { background-position: -32px -133px; }
.flag.np { background-position: -48px -133px; width: 9px; }
.flag.nr { background-position: -57px -133px; }
.flag.nu { background-position: -73px -133px; }
.flag.nz { background-position: -89px -133px; }
.flag.om { background-position: -105px -133px; }
.flag.pa { background-position: -121px -133px; }
.flag.pe { background-position: -137px -133px; }
.flag.pf { background-position: -153px -133px; }
.flag.pg { background-position: -169px -133px; }
.flag.ph { background-position: -185px -133px; }
.flag.pk { background-position: 0px -144px; }
.flag.pl { background-position: -16px -144px; }
.flag.pm { background-position: -32px -144px; }
.flag.pn { background-position: -48px -144px; }
.flag.pr { background-position: -64px -144px; }
.flag.ps { background-position: -80px -144px; }
.flag.pt { background-position: -96px -144px; }
.flag.pw { background-position: -112px -144px; }
.flag.py { background-position: -128px -144px; }
.flag.qa { background-position: -144px -144px; }
.flag.re { background-position: -160px -144px; }
.flag.ro { background-position: -176px -144px; }
.flag.rs { background-position: -192px -144px; }
.flag.ru { background-position: 0px -155px; }
.flag.rw { background-position: -16px -155px; }
.flag.sa { background-position: -32px -155px; }
.flag.sb { background-position: -48px -155px; }
.flag.sc { background-position: -64px -155px; }
.flag.sd { background-position: -80px -155px; }
.flag.se { background-position: -96px -155px; }
.flag.sg { background-position: -112px -155px; }
.flag.sh { background-position: -128px -155px; }
.flag.si { background-position: -144px -155px; }
.flag.sj { background-position: -160px -155px; }
.flag.sk { background-position: -176px -155px; }
.flag.sl { background-position: -192px -155px; }
.flag.sm { background-position: 0px -166px; }
.flag.sn { background-position: -16px -166px; }
.flag.so { background-position: -32px -166px; }
.flag.sr { background-position: -48px -166px; }
.flag.st { background-position: -64px -166px; }
.flag.sv { background-position: -80px -166px; }
.flag.sy { background-position: -96px -166px; }
.flag.sz { background-position: -112px -166px; }
.flag.tc { background-position: -128px -166px; }
.flag.td { background-position: -144px -166px; }
.flag.tf { background-position: -160px -166px; }
.flag.tg { background-position: -176px -166px; }
.flag.th { background-position: -192px -166px; }
.flag.tj { background-position: 0px -177px; }
.flag.tk { background-position: -16px -177px; }
.flag.tl { background-position: -32px -177px; }
.flag.tm { background-position: -48px -177px; }
.flag.tn { background-position: -64px -177px; }
.flag.to { background-position: -80px -177px; }
.flag.tr { background-position: -96px -177px; }
.flag.tt { background-position: -112px -177px; }
.flag.tv { background-position: -128px -177px; }
.flag.tw { background-position: -144px -177px; }
.flag.tz { background-position: -160px -177px; }
.flag.ua { background-position: -176px -177px; }
.flag.ug { background-position: -192px -177px; }
.flag.um { background-position: 0px -188px; }
.flag.us { background-position: -16px -188px; }
.flag.uy { background-position: -32px -188px; }
.flag.uz { background-position: -48px -188px; }
.flag.va { background-position: -64px -188px; }
.flag.vc { background-position: -80px -188px; }
.flag.ve { background-position: -96px -188px; }
.flag.vg { background-position: -112px -188px; }
.flag.vi { background-position: -128px -188px; }
.flag.vn { background-position: -144px -188px; }
.flag.vu { background-position: -160px -188px; }
.flag.wf { background-position: -176px -188px; }
.flag.ws { background-position: -192px -188px; }
.flag.ye { background-position: 0px -199px; }
.flag.yt { background-position: -16px -199px; }
.flag.za { background-position: -32px -199px; }
.flag.zm { background-position: -48px -199px; }
.flag.zw { background-position: -64px -199px; }